.player-card {

  position: relative;
  box-shadow: 1px 1px 5px lightblue;

  $border: 2px;
  background: #FFF;
  background-clip: padding-box;
  /* !importanté */
  border: solid $border transparent;
  /* !importanté */
  border-radius: 8px;


  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    /* !importanté */
    border-radius: inherit;
    // MAKES GRADIENT BACKGROUND!
    // background: linear-gradient(45deg, hsla(208, 100%, 55%, 1) 0%, hsla(46, 100%, 53%, 1) 100%)


      /* !importanté */
      // background: linear-gradient(to bottom, lightblue, blue);
      // background: hsla(208, 100%, 55%, 1);

      // background: -moz-linear-gradient(45deg, hsla(208, 100%, 55%, 1) 0%, hsla(65, 14%, 83%, 1) 100%);
      // background: -webkit-linear-gradient(45deg, hsla(208, 100%, 55%, 1) 0%, hsla(65, 14%, 83%, 1) 100%);
      // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1895FF", endColorstr="#D9DACE", GradientType=1);
  }
}